amount{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
High or Low day -- Find out what makes you tick!!
{%  endblock %}

{% block content %}
    <section>
      <h1 style="clear: both">What mood are you in today and what may have caused it?</h1>
      <form action="" method="post">
          {{form.hidden_tag()}}
          <table>
              {{ render_field(form.what_mood, size=20) }}
          </table>
      </form>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}
