amount{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
High or Low day -- Find out what makes you tick!!
{%  endblock %}

{% block content %}

<!doctype html>
<html>
<head>
    <title>Which food could drives your mood?</title>
</head>
<div class="result" align="center">
<form action="{{ url_for('predict') }}" method="POST">
        <br>
        <br>
        <br>Todays Mood:
        <br>
        <input name="todays_mood" type="text" required>
        <br>
        <br>
        <input type="submit">
</div>
</form>
<br>
<br>
<div class="result" align="center">
        <!-- <b>{{ culprit }}</b>
        <br> -->

        <br> Could this food item be the reason?
           <p style="font-size:20px">{{ result }}</p>
           <br>
                 <b>This is for user {{ users_food }}</b>
</div>
</html>


{% endblock %}

{% block sidebar %}
{% endblock %}
